<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand text-warning" href="{% url 'home' %}">
            GROOVE <span class="logo-amp">&</span> GRIME
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active text-warning{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'collection' %}active text-warning{% endif %}" href="{% url 'collection' %}">Collection</a>
                </li>
                
                <li class="nav-item ms-lg-3">
                    <a class="btn btn-outline-warning btn-sm px-4 fw-bold" href="#">LOGIN</a>
                </li>
                <li class="nav-item ms-lg-2">
                    <a class="btn btn-warning btn-sm px-4 fw-bold text-dark" href="{% url 'register' %}">REGISTER</a>
                </li>
            </ul>
        </div>
    </div>
</nav>